files:
  '/etc/nginx/conf.d/custom.conf':
    mode: '000644'
    owner: root
    group: root
    content: |
      http {
        types_hash_max_size 2048;
        types_hash_bucket_size 64;
        # Ensure you have your server block configurations here
        # Example server block:
        server {
            listen 80;
            server_name glucose-tracker-env-github.eba-arjk2umm.eu-north-1.elasticbeanstalk.com;

            location ~* (\.env$|\.git|config\.json|phpinfo\.php) {
                deny all;
                return 404;
            }

            location / {
                proxy_pass http://127.0.0.1:8000;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
            }

            log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                            '$status $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for"';
            
            access_log /var/log/nginx/access.log main;
            error_log /var/log/nginx/error.log warn;
            }
      }

commands:
  01_create_log_directory:
    command: 'mkdir -p /var/log/flask/'
    ignoreErrors: true
  02_set_log_directory_permissions:
    command: 'chmod 755 /var/log/flask/'
    ignoreErrors: true
