files:
  "/etc/nginx/conf.d/custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types_hash_max_size 2048;
      types_hash_bucket_size 64;

commands:
  01_create_log_directory:
    command: "mkdir -p /var/log/flask/"
    ignoreErrors: true
  02_set_log_directory_permissions:
    command: "chmod 755 /var/log/flask/"
    ignoreErrors: true